<!DOCTYPE html>
<html>
<head>
<#assign ctx = request.contextPath />
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="${ctx}/resources/plugins/jquery-easyui-1.4.5/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="${ctx}/resources/plugins/jquery-easyui-1.4.5/themes/icon.css">
<script type="text/javascript" src="${ctx}/resources/plugins/jquery-easyui-1.4.5/jquery.min.js"></script>
<script type="text/javascript" src="${ctx}/resources/plugins/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
<style type="text/css">
.fitem {
	margin-bottom: 5px;
}

.fitem label {
	display: inline-block;
	width: 130px;
}
<!--
inline-block就是在同一行内的块级元素
 
-->
</style>
</head>
<body>
	<table id="tt" class="easyui-datagrid" style="width: 1000px; height: 550px" url="${ctx}/quartz/list" title="DataGrid with Toolbar" iconCls="icon-save" rownumbers="true" singleSelect="true" toolbar="#tb" pagination="true">
		<thead>
			<tr>
				<th field="jobGroupName" width="80 align="right">任务组名称</th>
				<th field="jobName" width="80 align="right">定时任务名称</th>
				<th field="cronExpression" width="80">时间表达式</th>
				<th field="previousFireTime" width="80">上次运行时间</th>
				<th field="nextFireTime" width="80">下次运行时间</th>
				<th field="jobStatus" width="80">任务状态</th>
				<th field="startTime" width="80">开始时间</th>
				<th field="endTime" width="80">结束时间</th>
				<th field="jobClass" width="80">任务类名</th>
				<th field="jobName" width="80">操作</th>
			</tr>
		</thead>
	</table>
	<div id="tb">
		<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newJob();">New Job</a> <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editJob();">Edit Job</a> <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true"
			onclick="removeJob();">Remove Job</a>
	</div>

	<div id="dlg" class="easyui-dialog" style="width: 400px; height: 280px; padding: 10px 20px" closed="true" buttons="#dlg-buttons">
		<div class="ftitle">Job Information</div>
		<form id="fm" method="post">
			<div class="fitem">
				<label>cronExpression:</label> <input name="cronExpression" class="easyui-validatebox" required="true" value="0/2 * * * * ?"/>
			</div>
			<div class="fitem">
				<label>jobClass:</label> <input name="jobClass" class="easyui-validatebox" required="true" value="com.wyj.job.HelloWorldJob"/>
			</div>
			<div class="fitem">
				<label>jobName:</label> <input name="jobName" value="job_1"/>
			</div>
			<div class="fitem">
				<label>jobGroupName:</label> <input name="jobGroupName" class="easyui-validatebox" value="jGroup1"/>
			</div>
			<div class="fitem">
				<label>triggerName:</label> <input name="triggerName" class="easyui-validatebox" value="trigger_1"/>
			</div>
			<div class="fitem">
				<label>triggerGroupName:</label> <input name="triggerGroupName" class="easyui-validatebox" value="triggerGroup1"/>
			</div>
		</form>
	</div>
	<div id="dlg-buttons">
		<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveJob();">Save</a> <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
	</div>
	<script type="text/javascript">
        var url;
        function newJob() {
            $('#dlg').dialog('open').dialog('setTitle', 'New Job');
//             $('#fm').form('clear');
            url = '${ctx}/quartz/add';
        }
        function editJob() {
            var row = $('#tt').datagrid('getSelected');
            if (row) {
                $('#dlg').dialog('open').dialog('setTitle', 'Edit Job');
                $('#fm').form('load', row);
                url = '${ctx}/quartz/?id=' + row.id;
            }
        }
        function saveJob() {
            $('#fm').form('submit', {
                url : url,
                dataType:"JSON", 
                onSubmit : function() {
                    return $(this).form('validate');
                },
                success : function(result) {
                    console.log(result);
                    var result = eval('(' + result + ')');
                    if (result.success) {
                        $('#dlg').dialog('close'); // close the dialog
                        $('#dg').datagrid('reload'); // reload the Job data
                    } else {
                        $.messager.show({
                            title : 'Error',
                            msg : result.msg
                        });
                    }
                }
            });
        }
        function removeJob() {
            var row = $('#dg').datagrid('getSelected');
            if (row) {
                $.messager.confirm('Confirm', 'Are you sure you want to remove this Job?', function(r) {
                    if (r) {
                        $.post('remove_job.php', {
                            id : row.id
                        }, function(result) {
                            if (result.success) {
                                $('#dg').datagrid('reload'); // reload the Job data
                            } else {
                                $.messager.show({ // show error message
                                    title : 'Error',
                                    msg : result.msg
                                });
                            }
                        }, 'json');
                    }
                });
            }
        }
    </script>
</body>
</html>